
body {
background-color: #A9A9A9;
font-family: monospace;
margin: 100px;
}

div {
  min-height: 100vh;
  width: 100vw;
}

h1, h2, p {
  text-align: center;
}

h1 {
  font-size: 5em;
  color: #000000;
}

h2 {
  font-size: 2.5em;
  color: #8B008B;
}

img {
  display: flex;
  padding: 20px;
    margin: 0 auto;
    border-style: solid;
    border-radius: 35%;
    border-color: pink;
  }

p {
  width: 40%;
  margin: 10vh 10vw;
  font-size: 2em;
  color: #008080;
}

a {
  color:#4B0082;
}

ul {
  list-style: none;
  display: flex;
}

ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
}

li#lower {
  margin-top: 7%;
}

li#lowest {
  margin-top: 14%;

}

div.contrast {
  background-color: rgb(0,0,0);
  color: #FFC0CB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.top {
  background-color: rgb(0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  margin: 0 20px;
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: background-color 0.6s ease;
  background-color: grey;
  padding: 20px;
  border-radius: 50px;
}

ol, ul {
  color: #008080;
}
